*{
    margin: 0px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}


html,
body{
    padding: 0;
    background-color: #A7C957;
}

a,
button{
    background-color: #386641;
    display: inline-flex;
    aspect-ratio: 1 / 1;
    text-decoration: none;
    color: #F2E8CF;
    border-radius: 0.6em;
    width: 3em;
    border: 0;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: clamp(20px, 7vw, 60px);
    cursor: pointer;
}

input{
    padding: 10px 20px;
    width: 80%;
    aspect-ratio: 16/5;
    font-size: 8vw;
    color: #BC4749;
    background-color: #F2E8CF;
    border: 0;
    border-radius: 0.8em;
}

.keypad,
.row{
    display: flex;
}

.row{
    justify-content: space-around;
}

h1{
    color: #F2E8CF;
    background-color: #6A994E;
    padding: 1.8rem;
}

label,
h2{
    color: #386641;
    font-weight: 1000;
    font-size: 7vw;
    display: block;
}

h2{
    font-size: 9vw;
    margin-top: 1em;
    margin-bottom: 1em;
}

#results-table{
    display: flex;
    justify-content: space-around;
}

p{
    display: block;
    width: fit-content;
    color: #386641;
    font-weight: 1000;
    font-size: 5vw;
    display: block;
}

.confirm{
    display: flex;
    justify-content: space-around;
    margin: 8vw;
}
