* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

.visor {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	width: 100%;
}

html {
	background-color: #a7c957;
}

body {
	padding: 10px;
	background-color: #a7c957;
	height: 100dvh;
	display: flex;
	flex-direction: column;
}

#nomes {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

a,
button {
	background-color: #386641;
	display: inline-flex;
	text-decoration: none;
	color: #f2e8cf;
	border-radius: 40%;
	height: 22dvw;
	width: 22dvw;
	border: 0;
	justify-content: center;
	align-items: center;
	padding: 0;
	font-size: clamp(1rem, 20dvw, 3rem);
	cursor: pointer;
}

#camposAtuais div,
#camposAnteriores div {
	font-size: clamp(1rem, 60dvw, 6rem);
	color: #bc4749;
	background-color: #f2e8cf;
	aspect-ratio: 1;
	border: 0;
	border-radius: 30%;
	width: 35dvw;
	display: flex;
	align-items: center;
	justify-content: center;
}

#camposAnteriores div {
	height: 12dvh;
	width: 12dvh;
	font-size: 15vw;
	opacity: 0.6;
}

#camposAnteriores {
	width: 100%;
	display: none;
	align-items: center;
	justify-content: space-around;
}

form {
	padding: 0;
}

.linha {
	display: flex;
	justify-content: space-around;
	gap: 15px;
}

.pagina {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	justify-content: space-around;
}

#resultados {
	align-items: center;
}

.pagina h1 {
	color: #f2e8cf;
	background-color: #6a994e;
	padding: 20px;
	font-size: 9vw;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

h2,
h3 {
	color: #bc4749;
	font-weight: 1000;
	font-size: 8dvw;
	padding: 10px;
	border-radius: 0.5em;
	display: inline-flex;
	background-color: #f2e8cf;
}

#debug {
	position: fixed;
	top: -10px;
	left: -10px;
	z-index: 999;
}

#nomeAtual {
	color: #f2e8cf;
	background-color: #9c6644;
	border-radius: 0.5em 0.5em 0 0;
	position: fixed;
	bottom: -10px;
	font-size: 1.5rem;
}

p {
	display: block;
	width: fit-content;
	color: #386641;
	font-weight: 1000;
	font-size: 7vw;
}

.confirm {
	display: flex;
	justify-content: space-around;
	margin: 8vw;
}

table {
	width: 80%;
	background-color: #f2e8cf;
	padding: 0px;
	text-align: center;
	margin: 0;
	border-radius: 30px;
	border-spacing: 0px;
	border: #386641 0px solid;
}

th,
td {
	padding: 3vw;
	color: #386641;
	font-size: 7vw;
	text-align: center;
	border-color: #6a994e;
	border: #6a994e solid;
	border-width: 5px 0px 0px 0px;
	border-spacing: 0px;
	border-radius: 0px;
}

th {
	background-color: #6a994e;
	color: #f2e8cf;
	border-radius: 0;
}

#thnomes {
	border-radius: 30px 0px 0px 0px;
}

#thvalores {
	border-radius: 0px 30px 0px 0px;
}

.interactive {
	margin: auto 0;
	text-align: center;
}

body > div {
	margin: 0;
	border: 0;
	padding: 0;
}

.botaoComposto {
	display: flex;
	justify-content: start;
	flex-direction: column;
	align-items: center;
	margin: 0;
	gap: 20px;
	width: 24dvw;
}

#calculadora,
#confirmar,
#resultados {
	display: none;
}

.botoes {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

#campoNome {
	padding: 10px 10px;
	width: 80%;
	font-size: 10vw;
	color: #bc4749;
	background-color: #f2e8cf;
	min-height: 20dvh;
	border: 0;
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

div:has(h1),
#nomes {
	padding-top: 80px;
}

#resultados .botaoComposto button {
	font-size: 7vw;
	width: 20vw;
	height: 20vw;
}

#resultados .botaoComposto p {
	font-size: 6vw;
}

table.escondido .quantidadeCafe {
	display: none;
}

.botaoComposto#mudarPreco {
	display: none;
}

.desfazer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 10px;
	margin: 10px 0;
}

.desfazer button {
	height: 100%;
	width: 20dvw;
	border-radius: 15px;
	font-size: 30px;
}

#confirmar {
	align-items: center;
}

#camposAtuais {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.campo {
	overflow: hidden;
}

#teclado {
	display: flex;
	justify-content: space-evenly;
	height: 60%;
	gap: 10px;
}

#numeros {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

#calculadora {
	justify-content: space-around;
	gap: 10px;
	align-items: center;
}
